<mat-toolbar color="primary">
    <span routerLink="/" style="cursor: pointer;">
        <mat-icon>build</mat-icon>
        Workshop Management
    </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/workers">
        <mat-icon>people</mat-icon>
        Workers
    </button>
    <button mat-button routerLink="/vehicles">
        <mat-icon>directions_car</mat-icon>
        Vehicles
    </button>
    <button mat-button routerLink="/jobs">
        <mat-icon>work</mat-icon>
        Jobs
    </button>
    <button mat-button routerLink="/invoices">
        <mat-icon>receipt</mat-icon>
        Invoices
    </button>
</mat-toolbar>